{% for support in site.data.accessibility-support %}

<p class="fieldset-subtitles">{{ support.type }}</p>

{% for option in support.options %}

{% if option.options %}
<p class="expl">{{ option.name }}, {{strings.asupport_including}}: </p>
{% for details in option.options %}
<div class="radio-field">  
    <input type="checkbox" id="{{ details.id }}" name="accessibility_support[]" value="{{ details.id }}" group="accessibility_support">
    <label for="{{ details.id }}">{{ details.name }}</label>
</div>
{% endfor %}
{% else %}
<div class="radio-field">
    <input type="checkbox" id="{{ option.id }}" name="accessibility_support[]" value="{{ option.id }}" group="accessibility_support">
    <label for="{{ option.id }}">{{ option.name }}</label>
</div>    
{% endif %}
{% endfor %}
{% endfor %}

<div class="field">
    <label for="accessibility_support_other">{{strings.accessibility_support_other}}</label>
    <textarea id="accessibility_support_other" name="accessibility_support_other"></textarea>
</div>