
{% for support in site.data.accessibility-support %}


<h4>{{ support.name }}</h4>

{% for option in support.options %}
<div class="radio-field">
    <input type="checkbox" id="offer-{{ option.id }}" name="offer-{{ option.id }}">
    <label for="offer-{{ option.id }}">{{ option.name }}</label>
</div>
{% endfor %}

{% endfor %}

<div class="field">
    <label for="offer-new-accessibility-support">Additional accessibility support</label>
    <textarea id="offer-new-accessibility-support"></textarea>
</div>