{% capture course_title %}<a href="{{ course.website }}">{{ course.title }}{% include_cached icon.html name="external-link" %}</a> by {{ course.provider }}{% endcapture %}
{% capture course_section_identifier %}aside_{{ course.id }}{% endcapture %}
{% capture course_details_id %}details_{{course.id}}{% endcapture %}

{% include box.html type="start" title=course_title id=course.title %}
{{ course.description }}
{% include excol.html type="start" id=course_details_id %}
#### {{ strings.details }}
{% include excol.html type="middle"%}


{% assign country = "" | split: "," %}
{% for countryIndex in course.country %}
{% capture countryLabel %}
{{ site.data.countries[countryIndex].name }} ({{ site.data.countries[countryIndex].nativeName }})
{% endcapture %}
{% assign country = country | push: countryLabel %}
{% endfor %}
{{strings.country}}
: {{ country | join: "; "}}

{{ strings.type_resource }}
: {{ strings[course.type_resource] }}

{{ strings.audience }}
: {% for cb in course.audience %} {{strings[cb]}}{% if forloop.last != true %}; {% endif %} {% endfor %}


{{ strings.level }}
: {{ strings[course.level] }}

{{ strings.prerequisites }}
{% if course.prerequisites %}
: {{ course.prerequisites | join: "; "}}
{% else %}
: {{ strings.not_provided }}
{% endif %}

{{ strings.topics }}
: {{ course.topics | join: "; "}}

{% include filtered-wai-curricula.liquid data = course.wai_curricula %}
{{ strings.wai_curricula }}
{% if course.wai_curricula %}
: 
<button type="button" class="showhidebutton button-small helperbutton" aria-expanded="false" aria-controls="info_about" data-target="#info_about_curricula{{ course.id }}" data-showtext="{{ strings.show_info }}" data-hidetext="{{ strings.hide_info }}">{{ strings.show_info }}</button>
{% assign helper = site.data.helpers | where: "id", "wai-curricula" %}
<div class="helperinfo" id="info_about_curricula{{ course.id }}" hidden="hidden">
    <p>{{ helper[0].description }}</p>
</div>
{% for module in filteredItems %}
* {{ module [0] }}: {% for subModule in module[1] %}{% if forloop.first == false%}; {% endif %}<a href="{{subModule[2]}}" rel="external">{{ subModule[1] }}</a>{% endfor %}{% endfor %}
{% else %}
: {{ strings.not_provided }}
<button type="button" class="showhidebutton button-small helperbutton" aria-expanded="false" aria-controls="info_about_wai_curricula{{ course.id }}" data-target="#info_about_wai_curricula{{ course.id }}" data-showtext="{{ strings.show_info }}" data-hidetext="{{ strings.hide_info }}">{{ strings.show_info }}</button>
{% assign helper = site.data.helpers | where: "id", "wai-curricula" %}
<div class="helperinfo" id="info_about_wai_curricula{{ course.id }}" hidden="hidden">
    <p>{{ helper[0].description }}</p>
</div>
{% endif %}


{% assign language = "" | split: "," %}
{% for langIndex in course.language %}
{% capture langLabel %}
{{ site.data.lang[langIndex].name }} ({{ site.data.lang[langIndex].nativeName }})
{% endcapture %}
{% assign language = language | push: langLabel %}
{% endfor %}
{{ strings.language }}
: {{ language | join: "; "}}



{{ strings.format }}
{% assign helper = site.data.helpers | where: "id", "format" %}
: {{ strings[course.format]}}
<button type="button" class="showhidebutton button-small helperbutton" aria-expanded="false" aria-controls="info_about_format{{ course.id }}" data-target="#info_about_format{{ course.id }}" data-showtext="{{ strings.show_info }}" data-hidetext="{{ strings.hide_info }}">{{ strings.show_info }}</button>
<div class="helperinfo" id="info_about_format{{ course.id }}" hidden="hidden">
    <p>{{ helper[0].description }}</p>
</div>


{{ strings.scheduling }}
{% assign helper = site.data.helpers | where: "id", "scheduling" %}
: {% for cb in course.scheduling %} {{strings[cb]}}{% if forloop.last != true %}; {% endif %} {% endfor %}
<button type="button" class="showhidebutton button-small helperbutton" aria-expanded="false" aria-controls="info_about_scheduling{{ course.id }}" data-target="#info_about_scheduling{{ course.id }}" data-showtext="{{ strings.show_info }}" data-hidetext="{{ strings.hide_info }}">{{ strings.show_info }}</button>
<div class="helperinfo" id="info_about_scheduling{{ course.id }}" hidden="hidden">
    <p>{{ helper[0].description }}</p>
</div>

{{ strings.platform }}
{% if course.platform %}
: {{ course.platform}}
{% else %}
: {{ strings.not_provided }}
{% endif %}


{% assign hasASupport = false %}
{% assign aSupport = "" | split: "," %}
{% if course.accessibility_support %}
{% include filtered-accessibility-support.liquid data = course.accessibility_support %}
{% assign hasASupport = true %}
{% for accessibilitySupport in filteredItems %}
{% assign aSupport = aSupport | push: accessibilitySupport[1] %}
{% endfor %}
{% endif %}
{% if course.other_accessibility_support %}
{% assign aSupport = aSupport | push: course.other_accessibility_support %}
{% assign hasASupport = true %}
{% endif %}


{{ strings.accessibility_support }}
: {% for s in aSupport %}
* {{ s }}{% endfor %}
{% unless hasASupport %}
: {{ strings.not_provided }}
{% endunless %}


{{ strings.length }}
{% if course.length %}
: {{ course.length }}
{% else %}
: {{ strings.not_provided }}
{% endif %}

{{ strings.cost }}
: {{ strings[course.cost]}}

{{ strings.availability }}
: {{ strings.availability_from }} {{ course.start_date | date: "%-d %B %Y" }}
{% if course.end_date %} {{ strings.availability_to }} {{ course.end_date | date: "%-d %B %Y" }}{% endif %}.

{{ strings.website }}
: <a href="{{ course.website}}" rel="external">{{ course.website }}{% include_cached icon.html name="external-link" %}</a>

{{ strings.reviews_page }}
{% if course.reviews %}
: <a href="{{ course.reviews}}" rel="external">{{ course.reviews }}{% include_cached icon.html name="external-link" %}</a>
{% else %}
: {{ strings.not_provided }}
{% endif %}

{{ strings.info_updated }} {{ course.submission_date | date: "%-d %B %Y" }}.
{% if course.content_update %}
{{ strings.content_updated }} {{ course.content_update | date: "%-d %B %Y" }}.
{% endif %}
{% include excol.html type="end" %}
{% include box.html type="end" %}