{% capture course_title %}<a href="{{ course.course_link }}">{{ course.title }}</a> by {{ course.provider }}{% endcapture %}
{% capture course_section_identifier %}aside_{{ course.id }}{% endcapture %}
{% capture course_details_id %}details_{{course.id}}{% endcapture %}

{% include box.html type="start" title=course_title id=course.id %}
{{ course.description }}
{% include excol.html type="start" id=course_details_id %}
#### Details
{% include excol.html type="middle"%}

{% assign country = "" | split: "," %}
{% for countryIndex in course.country %}
{% capture countryLabel %}
{{ site.data.countries[countryIndex].name }} ({{ site.data.countries[countryIndex].nativeName }})
{% endcapture %}
{% assign country = country | push: countryLabel  %} 
{% endfor %}
Country
: {{ country | join: ", "}}

Type of resource
: {{ course.type }}

Audience
: {{ course.audience | join: ", " }}

Level
: {{ course.level}}

Prerequisites
{% if course.prerequisites %}
: {% for prerequisite in course.prerequisites %} 
* {{ prerequisite }}{% endfor %}
{% else %}
: Not provided
{% endif %}

Topics
: {% for topic in course.topics %} 
* {{ topic }}{% endfor %}
  
WAI Curricula module
{% if course.wai_curricula_link %}
: <a href="{{ course.wai_curricula_link}}" rel="external">{{ course.wai_curricula }}</a>
{% else %}
: Not provided
{% endif %}

{% assign language = "" | split: "," %}
{% for langIndex in course.language %}
{% capture langLabel %}
{{ site.data.lang[langIndex].name }} ({{ site.data.lang[langIndex].nativeName }})
{% endcapture %}
{% assign language = language | push: langLabel  %} 
{% endfor %}
Language
: {{ language | join: ", "}}


Format
: {{ course.format}}

Scheduling
: {{ course.scheduling | join: ", "}}

Platform
{% if course.platform %}
: {{ course.platform}}
{% else %}
: Not provided
{% endif %}


{% assign hasASupport = false %} 
Accessibility support 
: {% if course.accessibility_support %}{% include filtered-accessibility-support.liquid data = course.accessibility_support %}{% assign hasASupport = true %}{% for accessibilitySupport in filteredItems %}
* {{ accessibilitySupport[1] }}{% endfor %} {% endif %}
{% if course.other_accessibility_support %} 
* {{ course.other_accessibility_support }}{% assign hasASupport = true %}{% endif %}
{% unless hasASupport %}
: Not provided
{% endunless %}

Length
{% if course.length %}
: {{ course.length }}
{% else %}
: Not provided
{% endif %}

Cost
: {{ course.cost}}

Availability
: From {{ course.start_date | date: "%y %b, %d" }}{% if course.end_date %} 
{% if course.end_date %} to {{ course.end_date | date: "%y %b, %d"  }}{% endif %}{% endif %}

Website
: <a href="{{ course.website}}" rel="external">{{ course.website }}</a>

Reviews page
{% if course.reviews %}
: <a href="{{ course.reviews}}" rel="external">{{ course.reviews }}</a>
{% else %}
: Not provided
{% endif %}      
        
This information was last updated on {{ course.info_last_updated | date: "%y %b, %d" }}.
{% if course.course_content_last_update %}
  The content of this resource was last updated on {{ course.content_last_updated | date: "%y %b, %d" }}.
{% endif %} 
{% include excol.html type="end" %}
{% include box.html type="end" %}
