{% for curricula in site.data.wai-curricula %}
<div class="subitems">
<p class="fieldset-subtitles">{{ curricula.name }}</p>
{% for modules in curricula.modules %}
<div class="radio-field">
    <input type="checkbox" id="{{ modules.id }}" name="{{ modules.id }}">
    <label for="{{ modules.id }}">{{ modules.name }}</label>
</div>
{% endfor %}
</div>
{% endfor %}