{% for curricula in site.data.wai-curricula %}
{% include excol.html type="start" id="optional-id" %}
{{ curricula.name }}
<!-- {% capture info_label%}More information about the {{curricula.name}}{% endcapture %}
{{ curricula.name }}{% include resource-link.html label=info_label href=curricula.link %} -->

{% include excol.html type="middle" %}

{% for modules in curricula.modules %}
<div class="radio-field">
    <input type="checkbox" id="offer-{{ modules.id }}" name="offer-{{ modules.id }}">
    <label for="offer-{{ modules.id }}">{{ modules.name }}</label>
</div>

{% endfor %}

{% include excol.html type="end" %}

{% endfor %}